<header>
    <article>
        <div class='logo'>
            <h1><a href='#'>Ember CRM</a></h1>
        </div>
    </article>
</header>

<section id='main'>
    {{outlet}}
</section>

<footer></footer>
