<<<<<<< HEAD

<article id="leads">
  <h1>Leads</h1>
  <ul>
    {{#each lead in controller}}
      <li>{{lead.firstName}}</li>
    {{/each}}
  </ul>
</article>
=======
<article id='leeds'>
  <h1>Leads</h1>
  <ul>
    {{#each lead in controller}} 
      {{#link-to 'lead' lead}}
        <li>
          {{lead.fullName}}
        </li>
      {{/link-to}} 
    {{/each}}
  </ul>
</article>

{{outlet}}
>>>>>>> 6a2b113ee55159051eed688a8931985a3b9bc3cc
